button {
  cursor: pointer;
  color: var(--white);
}

.small-border-button, .border-button {
  position: relative;
  padding: 10px 30px;
  overflow: hidden;
  background: #0A0A0A;
  border-radius: 9999px;  
  color: var(--white);
  z-index: 1;
  font-size: 14px;
  font-weight: medium;
  line-height: 110%;

  &::before {
    content: "";
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
    bottom: 1;
    padding: 1px;
    background: linear-gradient(343deg, #292929 70%, #0B0B0B 110%);
    border-radius: 9999px;
    z-index: -1;

    -webkit-mask: 
      linear-gradient(#fff 1 1) content-box, 
      linear-gradient(#fff 1 1);
    mask: 
      linear-gradient(#fff 1 1) content-box, 
      linear-gradient(#fff 1 1);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.border-button {
  padding: 16.5px 30px;
  font-weight: 400;
}

.accent-angle-button {
  background-color: var(--accent);
  padding: 0 20px;
  border-radius: 100px 100px 0 100px;
  filter: drop-shadow(0 0 32px rgba(130, 143, 255, 0.25));
}