button {
  cursor: pointer;
  color: var(--white);
}

.small-border-button,
.border-button {
  position: relative;
  padding: 10px 30px;
  overflow: hidden;
  background: #0a0a0a;
  border-radius: 9999px;
  color: var(--white);
  z-index: 1;
  font-size: 14px;
  font-weight: medium;
  line-height: 110%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    background: linear-gradient(343deg, #292929 70%, #0b0b0b 110%);
    border-radius: 9999px;
    z-index: -1;

    -webkit-mask:
      linear-gradient(#fff 1 1) content-box,
      linear-gradient(#fff 1 1);
    mask:
      linear-gradient(#fff 1 1) content-box,
      linear-gradient(#fff 1 1);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.border-button {
  padding: 16.5px 30px;
  font-weight: 500;
  width: max-content;
}

.accent-angle-button {
  background-color: var(--accent);
  padding: 0 20px;
  font-weight: 400;
  border-radius: 100px 100px 0 100px;
  filter: drop-shadow(0 0 32px rgba(130, 143, 255, 0.25));
}

.accent-button {
  background-color: var(--accent);
  padding: 16px 20px;
  letter-spacing: 0.02rem;
  font-weight: 500;
  border-radius: 100px;
  filter: drop-shadow(0 0 32px rgba(130, 143, 255, 0.25));
}

.move-to-button {
  background-color: #1c1c1c;
  border-radius: 100px;
  border: #262626 1px solid;
  padding: 8px 10px 8px 18px;
  display: flex;
  gap: 13px;
  color: var(--white);
}
