@import "tailwindcss";
@import "./buttons.scss";
@import "./effects.scss";

:root {
  --background: #000000;
  --background-light: #080808;
  --accent: #346dff;
  --success: #4ac73f;
  --error: #f24e1e;
  --yellow: #ddff05;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-yellow: var(--yellow);
  --color-white: var(--white);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--background-light);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}

main {
  padding-top: 104px;
}

.wrapper {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.fon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.logo {
  display: block !important;
  width: 168px;
  aspect-ratio: 168/22;
  position: relative;
}

// стилизация шапки

.wrapper#wrapper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 49;

  #menu {
      position: absolute;
      display: flex;
      width: 100%;
      height: max-content;
      gap: 0;
      opacity: 0%;
      transform: translateY(-100%);
      transition: all .5s;
      border: #383838 1px solid;
      border-radius: 20px;
      background-color: #1C1C1C;
      overflow: hidden;

      &.show {
        transform: translateY(260px);
        opacity: 100%;
      } 
      
      #menu-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding: 30px 20px;
        width: 100%;

        button {
          width: 100%;
          display: flex;
          gap: 18px;
          padding: 10px 20px;
          background-color: transparent;
          transition: all .3s;
          border-radius: 15px;

          &:active, &:focus, &:hover {
            background-color: #171717;
          } 

          div {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 6px;
            max-width: 253px;
            font-size: 14px;
            font-weight: 400;
            text-align: left;

            span {
              line-height: 110%;
              color: #7D7D7D;
            }

            p {
              line-height: 130%;
              color: var(--white);
            }
          }
        }
      }

      div.label {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px 33px 15px 33px;
        width: 335px;
        max-width: 335px;
        background-color: #262626;

        div {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          max-height: 120px;
          padding: 15px 20px;
          border-radius: 20px;

          p {
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
          }

          a {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
          }
        }
      }
    }
}

header {
  height: 104px;
  position: fixed;
  z-index: 50;
  width: 100vw;
  padding: 30px;
  background-color: var(--background-light);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  #header-nav {
    display: inline-flex;
    align-items: center;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #1a1a1a;
    gap: 29px;
    color: var(--white);
  }

  div#header-actions {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    .languages {
      display: flex;
      align-items: center;
      color: var(--white);
      gap: 8;

      &:hover,
      &:active,
      &:focus {
        color: var(--accent);
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;

        span:first-child {
          font-weight: 300;
          opacity: 65%;
        }

        span:last-child {
          font-weight: 400;
        }
      }
    }
  }
}

// стилизация первой секции

#intro {
  display: relative;
  padding-top: 97px;
  padding-bottom: 92px;
  background-color: var(--background-light);

  .contrast-label {
    position: absolute;
    text-align: center;
    color: var(--background);
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .02rem;
    line-height: 110%;
    padding: 6px 15px;

    &.yellow {
      background-color: var(--yellow);
    }

    &.error {
      background-color: var(--error);
    }

    &.success {
      background-color: var(--success);
    }

    &.accent {
      background-color: var(--accent);
    }

    &.rt {
      border-radius: 20px 3px 13px 20px;
    }
    
    &.rb {
      border-radius: 20px 13px 3px 20px;
    }

    &.lt {
      border-radius: 3px 20px 20px 13px;
    }

    &.lb {
      border-radius: 13px 20px 20px 3px;
    }
  }
}

// стилизация ленты скролла

#scroll-line {
  max-width: 100vw;
  width: 100%;
  padding: 50px 0;
  overflow-x: scroll;
  background-color: var(--background-light);

  ul {
    width: max-content;
    overflow-x: scroll;
    display: flex;
    animation: slide 30s linear infinite;

    ::-webkit-scrollbar {
      display: none;
    }

    li {
      position: relative;
      padding: 0 50px;
      cursor: pointer;
      transform: scale(1);
      transition: 0.3s transform;

      img {
        transition: all .3s;
      }

      img:first-child {
        opacity: 0;
      }

      img:last-child {
        transform: translateY(-100%);
      }

      &:hover,
      &:focus {
        transform: scale(1.04);

        img:first-child {
          opacity: 100;
        }

        img:last-child {
          opacity: 0;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// стилизация секции услуг

#services {
  position: relative;
  padding: 75px 0 198px 0;
  background-color: var(--background);

  .wrapper {
    #title {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10;
      text-align: center;
      margin-bottom: 100px;

      h2 {
        color: var(--white);
        width: 1164px;
        font-size: 60px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
    #services-info {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        li {
          display: flex;
          gap: 30px;
          padding: 20px;
          align-items: center;
          height: 100%;
          cursor: pointer;
          transition: 0.3s all;
          border-radius: 20px;

          div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            transition: 0.3s all;

            p {
              color: var(--white);
            }
          }
        }

        .enable-service {
          background-color: #171717;
          border: solid 1px #1e1e1e;

          h5 {
            color: #9fbaff;
          }
        }

        .disable-service {
          background-color: transparent;

          h5 {
            color: #919191;
          }
        }

        .disable-service:hover {
          background-color: #0d0d0d;
        }
      }

      .card > .services-info-card {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        padding: 35px;
        align-items: center;

        h3 {
          margin: 20px 0 372px 0;
          text-align: center;
          color: var(--white);
          font-size: 27px;
          max-width: 388px;
          line-height: 110%;
          font-weight: 400;
        }
      }
    }
  }
}

// стилизация карточек информации

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #0e0e0e;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5px;
    background: linear-gradient(343deg, #1a1a1a -50%, #1f1f1f 120%);
    border-radius: 20px;
    z-index: -1;

    -webkit-mask:
      linear-gradient(#fff 1 1) content-box,
      linear-gradient(#fff 1 1);
    mask:
      linear-gradient(#fff 1 1) content-box,
      linear-gradient(#fff 1 1);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

// стилизация секции почему мы

#why {
  padding: 75px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 103px;

    #why-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;

      h2 {
        color: var(--white);
        font-size: 60px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }

    #why-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 438px 492px;
      row-gap: 27px;
      column-gap: 24px;

      .card {
        min-height: 100%;
      }

      .discr {
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: #cdcdcd;
        position: relative;
        height: 100%;

        #why1star {
          top: 279px;
          left: 103px;
          transform: rotate(-1.56deg);
        }

        #why2star {
          top: 158px;
          left: 248px;
          transform: rotate(1.56deg);
        }

        #why3star {
          top: 111px;
          left: 233px;
          transform: rotate(-61.45deg);
        }
      }

      .card {
        height: 438px;
        padding: 40px 30px;

        .fon {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }

        .card-body {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          h3 {
            font-size: 25px;
            color: var(--white);
            line-height: 100%;
            font-weight: 400;
            letter-spacing: 0.05em;
          }
        }
      }
    }
  }
}

// стилизация секции блога

#blog {
  padding: 50px 0;
  background-color: var(--background);

  .wrapper {
    display: flex;
    flex-direction: column;

    #blog-title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 100px;

      h2 {
        color: var(--white);
        font-size: 60px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #c3c3c3;
      }
    }

    #blog-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-bottom: 50px;

      .card {
        .blog-media {
          position: relative;
          width: 100%;
          height: 204px;
          border-radius: 0 0 20px 20px;
          overflow: hidden;
        }

        .blog-body {
          padding: 25px 20px 20px 20px;

          .date {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: #8aa9f9;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 28px;
          }

          .title {
            margin-bottom: 12px;
            font-size: 25px;
            font-weight: 400;
            color: var(--white);
            line-height: 100%;
            letter-spacing: 0.05em;
            max-width: 270px;
          }

          .desc {
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            color: #a0a0a0;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

#trigger {
  display: flex;
  flex-direction: column;
  gap: 105px;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #121212;
  padding: 57px 0 64px 0;

  .fon {

    #trigger-1 {
      position: absolute;
      right: 34.17%;
      top: 47.72%;
    }

    #trigger-2 {
      position: absolute;
      right: 14.93%;
      top: 75.69%;
    }

    #trigger-3 {
      position: absolute;
      left: 17.69%;
      top: 50.35%;
      transform: rotate(-61.45deg);
    }

    #trigger-4 {
      position: absolute;
      left: 26.39%;
      top: 65.68%;
      transform: rotate(-61.45deg);
    }

    #trigger-5 {
      position: absolute;
      right: 25.99%;
      top: 11.83%;
      transform: rotate(-19.79deg);
    }
  }

  #trigger-title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    h2 {
      font-size: 60px;
      font-weight: 600;
      color: var(--white);
      max-width: 599px;
      text-align: center;
      line-height: 120%;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      max-width: 360px;
      text-align: center;
      line-height: 150%;
      color: #c3c3c3;
    }
  }
}

// стилизация футера

footer {
  padding: 75px;
  color: var(--white);

  .wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;

    #base-footer-info {
      grid-column: 1 / 4;
      display: flex;
      flex-direction: column;
      gap: 60px;

      span {
        font-weight: 400;
        font-size: 14px;
        color: #919191;
      }

      p {
        font-size: 14px;
        font-weight: 500;
      }

      #base-footer-info-contact {
        display: flex;
        flex-direction: column;
        gap: 21px;

        ul {
          display: flex;

          li {
            padding: 8px;
          }
        }
      }

      #mailing-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }

    #footer-services {
      grid-column: 5 / 8;
    }

    #footer-company {
      grid-column: 8 / 11;
    }

    #footer-contacts {
      grid-column: 11 / 13;
    }

    .footer-col {
      display: flex;
      flex-direction: column;
      gap: 26px;

      span {
        font-weight: 400;
        font-size: 14px;
        color: #919191;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;

        li>a {
          font-size: 14px;
          line-height: 130%;
        }
      }
    }

    #lang-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      gap: 17px;
      color: var(--white);

      &:first-child {
        font-size: 14px;
        line-height: 130%;

        span {
          color: #919191;
          line-height: 110%;
        }
      }
    }
  }
}
